In [1]:
#import packages
import json
import matplotlib.pyplot as plt
import pandas as pd
import glob
import os

In [4]:
#read year_of_birth 2010 csv file
df = pd.read_csv("assets/yob_2010.csv")

#read year_of_birth 2019 csv file
df1 = pd.read_csv("assets/yob2019.csv")



# read contents of csv files
file = pd.read_csv("assets/yob2019.csv")
print("\nOriginal file:")
print(file)

# adding headers
headerList = ['Name', 'Gender', '2019 Name Count']

# convert data frame to csv
file.to_csv("assets/yob2019.csv", header=headerList, index=False)

# display modified csv file
file2 = pd.read_csv("assets/yob2019.csv")
print('\nModified file:')
print(file2)

Original file:
            Name Gender  2019 Name Count
0           Emma      F            17176
1            Ava      F            14515
2         Sophia      F            13769
3       Isabella      F            13360
4      Charlotte      F            13206
...          ...    ...              ...
32067     Zyheem      M                5
32068      Zykel      M                5
32069     Zyking      M                5
32070        Zyn      M                5
32071      Zyran      M                5

[32072 rows x 3 columns]

Modified file:
            Name Gender  2019 Name Count
0           Emma      F            17176
1            Ava      F            14515
2         Sophia      F            13769
3       Isabella      F            13360
4      Charlotte      F            13206
...          ...    ...              ...
32067     Zyheem      M                5
32068      Zykel      M                5
32069     Zyking      M                5
32070        Zyn      M                5
32071      Zyran      M                5

[32072 rows x 3 columns]

In [77]:
# find the name Cersei in the name column
df[df['Name'].str.contains("Cersei")]

         Name Gender  2019 Name Count
14128  Cersei      F                6